* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:var(--text-bg);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
--text-color:  #452c63cb;
--text-bg: cornsilk; 
}

/* max-width - From 0px or min-width to max-width value 
The display should be AT MAX of max-width value and below
*/
/* min-width - The display should be AT LEAST of min-width value and above*/


/* @media screen and (max-width: 880px) and (min-width: 800px) {
  header{
    display: block;
    background-color: green;
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  header{
    display: flex;
    background-color: yellow;
  }
} */

/* @media (max-width: 878px) {
  .name {
    font-size: 1.5rem;
  }
} */

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
}

.name {
  padding-left: 3vw;
  color: var(--text-color);
  background-color: var(--text-bg);
  font-size: 2rem;
}

.buttons {
  list-style: none;
  padding-right: 3vw;
  font-size: 1.3rem;
  color: var(--text-color);
  text-decoration: none;
}

.buttons li {
  display: inline-block;
  padding: 0vh 1vw;
}

/* Banner */

.banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20vh; 
  padding-right: 2vw;
  padding-bottom: 3vh;
  margin-top: 2vh;
}

#banner-image {
  background-image: url(./images/Background.jpg);
  background-size: 100vw 20vh;
  background-repeat: no-repeat;
}

.banner h2 {
  font-size: 1.2rem;
  background-color: var(--text-bg);
  color: var(--text-color);
}

/* Main Section */

main {
  margin-top: 3vh;
}

#section-header {
  font-size: 1.7rem;
  padding-right: 1vw;
  border-style: none solid none none;
  color: var(--text-color);
}

/* About Me */

.about-me {
  display: flex;
}

.para {
  display: flex;
}

.about-me h2 {
  padding-left: 3.8vw;
  height: 19vh;
}
.about-me img {
  height: 25vh;
  border: 0.5rem dotted var(--text-color);
  border-radius: 50rem;
  margin-left: 2vw;
}

.about-me p {
  padding-left: 1.5vw;
  font-size: 1.3rem;
  color: var(--text-color);
  max-width: 26vw;
}

/* Work Portfolio */

.work {
  display: flex;
  margin-top: 2vh;
  }

.work-header {
    padding-left: 5vw;
    height: 62vh;
    padding-left: 20.7vw;
}

.work-grid-style {
  width: 50vw;
  margin-left: 1.5vw;
  height: 62vh;
  grid-gap: 1rem;
}

#work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5"
}

.first-project {
  grid-area: project1;
  background-image: url(./images/digital-marketing-meeting.jpg);
}

.second-project {
  grid-area: project2;
  background-image: url(./images/Vermin\ Album\ Cover\ Preview.png);
}

.third-project {
  grid-area: project3;
  background-image: url(./images/Direction.jpeg);
}

.fourth-project {
  grid-area: project4;
  background-image: url(./images/New-Normal.JPG);
}

.fifth-project {
  grid-area: project5;
  background-image: url(./images/Three-Lions.PNG);
}

#proj-style {
  display: flex;
  align-items: flex-end;
  border: 0.1rem solid var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  padding-bottom: 1vh;
}
#ProjectTitle1 {
  font-size: 20px;
  color: var(--text-color);
  width: 210px;
  height: 30px;
}

#ProjectTitle2 {
  font-size: 20px;
  color: var(--text-color);
  width: 150px;
  height: 30px;
}
.first-project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.second-project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.third-project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.fourth-project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.fifth-project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

#ProjectTitle3 {
  font-size: 20px;
  color: var(--text-color);
  width: 170px;
  height: 30px;
}

#ProjectTitle4 {
  font-size: 20px;
  color: var(--text-color);
  width: 320px;
  height: 30px;
}

#ProjectTitle5 {
  font-size: 20px;
  color: var(--text-color);
  width: 140px;
  height: 30px;
}


/* Contact Me */

.contact-section {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact-section h2 {
  padding-left: 16.6vw;
  height: 10vh;
}

.contact-buttons {
  list-style: none;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
}

.contact-buttons li {
  display: inline-block;
  padding: 0px 20px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  padding-left: 170px;
}

.footer p {
  color: var(--text-color);
}
