* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#ffedf1;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.name {
  padding-left: 50px;
  color: #452c63cb;
  background-color: cornsilk; 
}

.buttons {
  list-style: none;
  padding-right: 60px;
  font-size: 20px;
  color: #452c63cb;
  text-decoration: none;
}

.buttons li {
  display: inline-block;
  padding: 0px 20px;
}

/* Banner */

.banner {
  display: flex;
  justify-content: flex-end;
  border: solid;
  height: 20vh;
  align-items: flex-end;
  padding-right: 50px;
  padding-bottom: 20px;
  background-image: url(./images/Background.jpg);

  background-size: 1550px 150px;
  background-repeat:no-repeat;
}

.banner h2 {
  font-size: 20px;
  background-color: cornsilk;
  color: #452c63cb;
}




body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,

h2
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
